variable "project_prefix" {
  type        = string
  description = "prefix string put in front of string"
  default     = "f5xc"
}

variable "project_suffix" {
  type        = string
  description = "prefix string put at the end of string"
  default     = "01"
}

variable "f5xc_api_p12_file" {
  type = string
}

variable "f5xc_api_url" {
  type = string
}

variable "f5xc_api_token" {
  type = string
}

variable "f5xc_tenant" {
  type = string
}

variable "f5xc_namespace" {
  type    = string
  default = "system"
}

variable "f5xc_aws_cred" {
  type    = string
  default = "ck-aws-01"
}

variable "f5xc_aws_region" {
  type    = string
  default = "us-west-2"
}

variable "f5xc_aws_availability_zone" {
  type    = string
  default = "a"
}

variable "owner" {
  type    = string
  default = "c.klewar@f5.com"
}

variable "ssh_public_key_file" {
  type = string
}

locals {
  aws_availability_zone = format("%s%s", var.f5xc_aws_region, var.f5xc_aws_availability_zone)
  custom_tags           = {
    Owner        = var.owner
    f5xc-tenant  = var.f5xc_tenant
    f5xc-feature = "${var.project_prefix}-aws-vpc-site"
  }
}

provider "volterra" {
  api_p12_file = var.f5xc_api_p12_file
  url          = var.f5xc_api_url
  alias        = "default"
}

provider "aws" {
  region = var.f5xc_aws_region
  alias  = "default"
}

module "f5xc_aws_cloud_ce_single_node_single_nic_new_vpc_new_subnet" {
  source                = "./modules/f5xc/ce/aws"
  owner_tag             = var.owner
  is_sensitive          = false
  has_public_ip         = true
  f5xc_tenant           = var.f5xc_tenant
  f5xc_api_url          = var.f5xc_api_url
  f5xc_api_token        = var.f5xc_api_token
  f5xc_namespace        = var.f5xc_namespace
  f5xc_aws_region       = var.f5xc_aws_region
  f5xc_token_name       = format("%s-aws-ce-test-%s", var.project_prefix, var.project_suffix)
  f5xc_cluster_name     = format("%s-aws-ce-test-%s", var.project_prefix, var.project_suffix)
  f5xc_cluster_labels   = { "ves.io/fleet" : format("%s-aws-ce-test-%s", var.project_prefix, var.project_suffix) }
  f5xc_aws_vpc_az_nodes = {
    node0 = {
      f5xc_aws_vpc_slo_subnet = "192.168.0.0/26",
      f5xc_aws_vpc_az_name    = local.aws_availability_zone
    }
  }
  f5xc_ce_gateway_type                 = "ingress_gateway"
  f5xc_cluster_latitude                = -73.935242
  f5xc_cluster_longitude               = 40.730610
  aws_vpc_cidr_block                   = "192.168.0.0/20"
  aws_security_group_rules_slo_egress  = []
  aws_security_group_rules_slo_ingress = []
  ssh_public_key                       = file(var.ssh_public_key_file)
  providers                            = {
    aws      = aws.default
    volterra = volterra.default
  }
}

output "f5xc_aws_secure_ce_multi_node_single_nic_existing_vpc" {
  value = module.f5xc_aws_cloud_ce_single_node_single_nic_new_vpc_new_subnet
}


resource "volterra_aws_tgw_site" "site" {
  default_blocked_services = true
  direct_connect_disabled  = true
  logs_streaming_disabled  = true
  name                     = "astral-tgw-ext-svc-15"
  namespace                = "system"
  tags                     = {
    "Feature" = "F5XC Big IP NFV"
    "Type"    = "production"
  }

  aws_parameters {
    aws_certified_hw     = "aws-byol-multi-nic-voltmesh"
    aws_region           = "us-west-2"
    disable_internet_vip = true
    enable_internet_vip  = false
    instance_type        = "t3.xlarge"
    no_worker_nodes      = true
    ssh_key              = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC9x4/A8PvLyNLhlUKJ2hrY5IDV91hh59wkIQsbPCbhUFKcQVY0IjGhJKUJ1W/1Bfu7bteuMvPluMMSE7mxySuat1vX0Bqo/4aqnqvyWBWBI6/ErVgB3BFZlqNaGkYnH4mgQJRG3W2tmMKweAWKthgYYJUtpj3huXzoUumVte5d2wbCuUrWETfoAsyA6gVoF7i6cniOBaPnxhKZ8bLUbCA6D1YV29SMWyYbo5A7gxLYdXfQ/RJRE8FdHJZVuUV8/cN8QlyLz2iFWk4u/CcOWqJ7pwDiijuvBhmdFpTKxmmWaOH5jSvuFMdSrJZT4QY1BRKvZndCwpUZJQtLw4QNedUmzH4OS4Z9FY0gAkgqVv1WwcnEcJOfXyQkXZHyie8zvNDye3fMRVG8yqq/5UT/7eUJlBBGBy1inDzwJ4xzxiz63HknbcpK5rXHydgZMQy57Wcd3kxWZX04/C1gCOZkA9wV/XxkFeMybBArpbFoRg7SPdsQpD7snbTOFijaawYSpMHYqs4PUYl21nlgRvs9a3wAdlFrRgSuXRJ5u17a7wBzbUIB6WNPW8L0Z0fUvdogGHOrTRIeYChqVsBtngpwJhqusXR6nmH4FNfNB4mFd1GLhio2rpFjuTyyfxb6FeuOAzMAgwAy4oe55UqJ3r6/IAN2qh8TAkV4hQ== 20220714_ec2_instance"

    aws_cred {
      name      = "ck-aws-01"
      namespace = "system"
      tenant    = "playground-urxgwtyy"
    }

    az_nodes {
      aws_az_name = "us-west-2a"
      disk_size   = 80

      inside_subnet {
        subnet_param {
          ipv4 = "192.168.168.64/26"
        }
      }

      outside_subnet {
        subnet_param {
          ipv4 = "192.168.168.128/26"
        }
      }

      workload_subnet {
        subnet_param {
          ipv4 = "192.168.168.0/26"
        }
      }
    }
    az_nodes {
      aws_az_name = "us-west-2b"
      disk_size   = 80

      inside_subnet {
        subnet_param {
          ipv4 = "192.168.169.64/26"
        }
      }

      outside_subnet {
        subnet_param {
          ipv4 = "192.168.169.128/26"
        }
      }

      workload_subnet {
        subnet_param {
          ipv4 = "192.168.169.0/26"
        }
      }
    }
    az_nodes {
      aws_az_name = "us-west-2c"
      disk_size   = 80

      inside_subnet {
        subnet_param {
          ipv4 = "192.168.170.64/26"
        }
      }

      outside_subnet {
        subnet_param {
          ipv4 = "192.168.170.128/26"
        }
      }

      workload_subnet {
        subnet_param {
          ipv4 = "192.168.170.0/26"
        }
      }
    }

    new_tgw {
      system_generated = true
    }

    new_vpc {
      allocate_ipv6 = false
      autogenerate  = true
      primary_ipv4  = "192.168.168.0/21"
    }
  }

  os {
    default_os_version = true
  }

  sw {
    default_sw_version = true
  }

  vn_config {
    no_global_network = true
  }

  vpc_attachments {
    vpc_list {}
  }
}


resource "volterra_nfv_service" "nfv" {
  disable_https_management = false
  disable_ssh_access       = true
  name                     = "astral-bigip-ext-svc-15"
  namespace                = "system"

  f5_big_ip_aws_service {
    admin_username = "admin"
    ssh_key        = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC9x4/A8PvLyNLhlUKJ2hrY5IDV91hh59wkIQsbPCbhUFKcQVY0IjGhJKUJ1W/1Bfu7bteuMvPluMMSE7mxySuat1vX0Bqo/4aqnqvyWBWBI6/ErVgB3BFZlqNaGkYnH4mgQJRG3W2tmMKweAWKthgYYJUtpj3huXzoUumVte5d2wbCuUrWETfoAsyA6gVoF7i6cniOBaPnxhKZ8bLUbCA6D1YV29SMWyYbo5A7gxLYdXfQ/RJRE8FdHJZVuUV8/cN8QlyLz2iFWk4u/CcOWqJ7pwDiijuvBhmdFpTKxmmWaOH5jSvuFMdSrJZT4QY1BRKvZndCwpUZJQtLw4QNedUmzH4OS4Z9FY0gAkgqVv1WwcnEcJOfXyQkXZHyie8zvNDye3fMRVG8yqq/5UT/7eUJlBBGBy1inDzwJ4xzxiz63HknbcpK5rXHydgZMQy57Wcd3kxWZX04/C1gCOZkA9wV/XxkFeMybBArpbFoRg7SPdsQpD7snbTOFijaawYSpMHYqs4PUYl21nlgRvs9a3wAdlFrRgSuXRJ5u17a7wBzbUIB6WNPW8L0Z0fUvdogGHOrTRIeYChqVsBtngpwJhqusXR6nmH4FNfNB4mFd1GLhio2rpFjuTyyfxb6FeuOAzMAgwAy4oe55UqJ3r6/IAN2qh8TAkV4hQ== 20220714_ec2_instance"
    tags           = {
      "Feature" = "F5XC Big IP NFV"
      "Type"    = "production"
    }

    admin_password {
      clear_secret_info {
        url = "string:///Vm9sdGVycmExMjMhYWJjZGVmZw=="
      }
    }

    aws_tgw_site_params {
      aws_tgw_site {
        name      = "astral-tgw-ext-svc-15"
        namespace = "system"
        tenant    = "playground-urxgwtyy"
      }
    }

    endpoint_service {
      default_tcp_ports           = true
      disable_advertise_on_slo_ip = true
      no_udp_ports                = true
    }

    market_place_image {
      awaf_pay_g200_mbps = true
      awaf_pay_g3_gbps   = false
    }

    nodes {
      automatic_prefix     = true
      aws_az_name          = "us-west-2a"
      node_name            = "astral-bigip-n1-ext-svc-15"
      reserved_mgmt_subnet = false
    }
    nodes {
      automatic_prefix     = true
      aws_az_name          = "us-west-2b"
      node_name            = "astral-bigip-n2-ext-svc-15"
      reserved_mgmt_subnet = false
    }
  }

  https_management {
    advertise_on_internet_default_vip = true
    default_https_port                = true
    do_not_advertise                  = true
    domain_suffix                     = "adn-prod.helloclouds.app"
  }
}