owner                       = "al.dacosta@f5.com"
aws_vpc_name                = "vpc-alexis-ce-1nic"
aws_vpc_cidr_block          = "192.168.0.0/20"
f5xc_aws_vpc_slo_subnet     = "192.168.0.0/26"
f5xc_ce_gateway_type        = "ingress_gateway"
f5xc_cluster_latitude       = "48.866667"
f5xc_cluster_longitude      = "2.333333"
f5xc_aws_region             = "eu-west-3"
f5xc_aws_availability_zone  = "a"
project_prefix              = "f5xc"
project_suffix              = "01"
f5xc_tenant                 = "XXX"
f5xc_api_token              = "XXX"
f5xc_aws_cred               = "XXX"
ssh_public_key_file         = "XXX.pub"
f5xc_api_p12_file           = "XXX.console.ves.volterra.io.api-creds.p12"